.noPadding, .padding0{
    padding: 0px;
}

.noPaddingBottom, .paddingBottom0{
    padding-bottom: 0px;
}

.noPaddingTop, .paddingTop0{
    padding-top: 0px;
}

.noPaddingRight, .paddingRight0{
    padding-right: 0px;
}

.noPaddingLeft, .paddingLeft0{
    padding-left: 0px;
}

/* ------------------------------------------ PADDING NORMAL ------------------------------------------ */

.padding1 {
    padding: 1px; 
}

.padding2 {
    padding: 2px; 
}

.padding3 {
    padding: 3px; 
}

.padding4 {
    padding: 4px; 
}

.padding5 {
    padding: 5px; 
}

.padding6 {
    padding: 6px; 
}

.padding7 {
    padding: 7px; 
}

.padding8 {
    padding: 8px; 
}

.padding9 {
    padding: 9px; 
}

.padding10 {
    padding: 10px; 
}

.padding11 {
    padding: 11px; 
}

.padding12 {
    padding: 12px; 
}

.padding13 {
    padding: 13px; 
}

.padding14 {
    padding: 14px; 
}

.padding15 {
    padding: 15px; 
}

.padding16 {
    padding: 16px;  
} 

.padding17 {
    padding: 17px;  
} 

.padding18 {
    padding: 18px;  
} 

.padding19 {
    padding: 19px;  
} 

.padding20 {
    padding: 20px;  
} 

.padding21 {
    padding: 21px;  
} 

.padding22 {
    padding: 22px;  
} 

.padding23 {
    padding: 23px;  
} 

.padding24 {
    padding: 24px;  
} 

.padding25 {
    padding: 25px;  
} 

.padding26 {
    padding: 26px;  
} 

.padding27 {
    padding: 27px;  
} 

.padding28 {
    padding: 28px;  
} 

.padding29 {
    padding: 29px;  
} 

.padding30 {
    padding: 30px;  
}

.padding40 {
    padding: 40px;
}

.padding50 {
    padding: 50px;
}

.padding60 {
    padding: 60px;
}

.padding70 {
    padding: 70px;
}

.padding80 {
    padding: 80px;
}

.padding90 {
    padding: 90px;
}

.padding100 {
    padding: 100px;
}

.padding120 {
    padding: 120px;
}

.padding150 {
    padding: 150px;
}

.padding180 {
    padding: 180px;
}

.padding200 {
    padding: 200px;
}

.padding250 {
    padding: 250px;
}

/* ------------------------------------------ PADDING TOP ------------------------------------------ */

.paddingTop1 {
    padding-top: 1px;
}

.paddingTop2 {
    padding-top: 2px;
}

.paddingTop3 {
    padding-top: 3px;
}

.paddingTop4 {
    padding-top: 4px;
}

.paddingTop5 {
    padding-top: 5px;
}

.paddingTop6 {
    padding-top: 6px;
}

.paddingTop7 {
    padding-top: 7px;
}

.paddingTop8 {
    padding-top: 8px;
}

.paddingTop9 {
    padding-top: 9px;
}

.paddingTop10 {
    padding-top: 10px;
}

.paddingTop11 {
    padding-top: 11px;
}

.paddingTop12 {
    padding-top: 12px;
}

.paddingTop13 {
    padding-top: 13px;
}

.paddingTop14 {
    padding-top: 14px;
}

.paddingTop15 {
    padding-top: 15px;
}

.paddingTop16 {
    padding-top: 16px;
}

.paddingTop17 {
    padding-top: 17px;
}

.paddingTop18 {
    padding-top: 18px;
}

.paddingTop19 {
    padding-top: 19px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop21 {
    padding-top: 21px;
}

.paddingTop22 {
    padding-top: 22px;
}

.paddingTop23 {
    padding-top: 23px;
}

.paddingTop24 {
    padding-top: 24px;
}

.paddingTop25 {
    padding-top: 25px;
}

.paddingTop26 {
    padding-top: 26px;
}

.paddingTop27 {
    padding-top: 27px;
}

.paddingTop28 {
    padding-top: 28px;
}

.paddingTop29 {
    padding-top: 29px;
}

.paddingTop30 {
    padding-top: 30px; 
}

.paddingTop40 {
    padding-top: 40px;
}

.paddingTop50 {
    padding-top: 50px;
}

.paddingTop60 {
    padding-top: 60px;
}

.paddingTop70 {
    padding-top: 70px;
}

.paddingTop80 {
    padding-top: 80px;
}

.paddingTop90 {
    padding-top: 90px;
}

.paddingTop100 {
    padding-top: 100px;
}

.paddingTop120 {
    padding-top: 120px;
}

.paddingTop150 {
    padding-top: 150px;
}

.paddingTop180 {
    padding-top: 180px;
}

.paddingTop200 {
    padding-top: 200px;
}

.paddingTop250 {
    padding-top: 250px;
}

/* ------------------------------------------ PADDING BOTTOM ------------------------------------------ */

.paddingBottom1 {
    padding-bottom: 1px; 
}
 
.paddingBottom2{
    padding-bottom :2 px; 
}
 
.paddingBottom3{
    padding-bottom :3 px; 
}
 
.paddingBottom4{
    padding-bottom :4 px; 
}
 
.paddingBottom5{
    padding-bottom :5 px; 
}
 
.paddingBottom6{
    padding-bottom :6 px; 
}
 
.paddingBottom7{
    padding-bottom :7 px; 
}
 
.paddingBottom8{
    padding-bottom :8 px; 
}
 
.paddingBottom9{
    padding-bottom :9 px; 
}
 
.paddingBottom10{
    padding-bottom :10 px; 
}
 
.paddingBottom11{
    padding-bottom :11 px; 
}
 
.paddingBottom12{
    padding-bottom :12 px; 
}
 
.paddingBottom13{
    padding-bottom :13 px; 
}
 
.paddingBottom14{
    padding-bottom :14 px; 
}
 
.paddingBottom15{
    padding-bottom :15 px; 
}
  
.paddingBottom16{
    padding-bottom :16 px;  
} 
 
.paddingBottom17{
    padding-bottom :17 px;  
} 
 
.paddingBottom18{
    padding-bottom :18 px;  
} 
 
.paddingBottom19{
    padding-bottom :19 px;  
} 
 
.paddingBottom20{
    padding-bottom :20 px;  
} 
 
.paddingBottom21{
    padding-bottom :21 px;  
} 
 
.paddingBottom22{
    padding-bottom :22 px;  
} 
 
.paddingBottom23{
    padding-bottom :23 px;  
} 
 
.paddingBottom24{
    padding-bottom :24 px;  
} 
 
.paddingBottom25{
    padding-bottom :25 px;  
} 
 
.paddingBottom26{
    padding-bottom :26 px;  
} 
 
.paddingBottom27{
    padding-bottom :27 px;  
} 
 
.paddingBottom28{
    padding-bottom :28 px;  
} 

.paddingBottom29{
    padding-bottom :29 px;  
} 

.paddingBottom30{
    padding-bottom :30 px;  
}
.paddingBottom40 {
    padding-bottom: 40px;
}

.paddingBottom50 {
    padding-bottom: 50px;
}

.paddingBottom60 {
    padding-bottom: 60px;
}

.paddingBottom70 {
    padding-bottom: 70px;
}

.paddingBottom80 {
    padding-bottom: 80px;
}

.paddingBottom90 {
    padding-bottom: 90px;
}

.paddingBottom100 {
    padding-bottom: 100px;
}

.paddingBottom120 {
    padding-bottom: 120px;
}

.paddingBottom150 {
    padding-bottom: 150px;
}

.paddingBottom180 {
    padding-bottom: 180px;
}

.paddingBottom200 {
    padding-bottom: 200px;
}

.paddingBottom250 {
    padding-bottom: 250px;
}

/* ------------------------------------------ PADDING RIGHT ------------------------------------------ */

.paddingRight1 {
    padding-right: 1px;
}

.paddingRight2 {
    padding-right: 2px;
}

.paddingRight3 {
    padding-right: 3px;
}

.paddingRight4 {
    padding-right: 4px;
}

.paddingRight5 {
    padding-right: 5px;
}

.paddingRight6 {
    padding-right: 6px;
}

.paddingRight7 {
    padding-right: 7px;
}

.paddingRight8 {
    padding-right: 8px;
}

.paddingRight9 {
    padding-right: 9px;
}

.paddingRight10 {
    padding-right: 10px;
}

.paddingRight11 {
    padding-right: 11px;
}

.paddingRight12 {
    padding-right: 12px;
}

.paddingRight13 {
    padding-right: 13px;
}

.paddingRight14 {
    padding-right: 14px;
}

.paddingRight15 {
    padding-right: 15px;
}

.paddingRight16 {
    padding-right: 16px;
}

.paddingRight17 {
    padding-right: 17px;
}

.paddingRight18 {
    padding-right: 18px;
}

.paddingRight19 {
    padding-right: 19px;
}

.paddingRight20 {
    padding-right: 20px; 
}

.paddingRight21 {
    padding-right: 21px; 
}

.paddingRight22 {
    padding-right: 22px; 
}

.paddingRight23 {
    padding-right: 23px; 
}

.paddingRight24 {
    padding-right: 24px; 
}

.paddingRight25 {
    padding-right: 25px; 
}

.paddingRight26 {
    padding-right: 26px; 
}

.paddingRight27 {
    padding-right: 27px; 
}

.paddingRight28 {
    padding-right: 28px; 
}

.paddingRight29 {
    padding-right: 29px; 
}

.paddingRight30 {
    padding-right: 30px; 
}

.paddingRight40 {
    padding-right: 40px;
}

.paddingRight50 {
    padding-right: 50px;
}

.paddingRight60 {
    padding-right: 60px;
}

.paddingRight70 {
    padding-right: 70px;
}

.paddingRight80 {
    padding-right: 80px;
}

.paddingRight90 {
    padding-right: 90px;
}

.paddingRight100 {
    padding-right: 100px;
}

.paddingRight120 {
    padding-right: 120px;
}

.paddingRight150 {
    padding-right: 150px;
}

.paddingRight180 {
    padding-right: 180px;
}

.paddingRight200 {
    padding-right: 200px;
}

.paddingRight250 {
    padding-right: 250px;
}

/* ------------------------------------------ PADDING LEFT ------------------------------------------ */

.paddingLeft1 {
    padding-left: 1px;
}

.paddingLeft2 {
    padding-left: 2px;
}

.paddingLeft3 {
    padding-left: 3px;
}

.paddingLeft4 {
    padding-left: 4px;
}

.paddingLeft5 {
    padding-left: 5px;
}

.paddingLeft6 {
    padding-left: 6px;
}

.paddingLeft7 {
    padding-left: 7px;
}

.paddingLeft8 {
    padding-left: 8px;
}

.paddingLeft9 {
    padding-left: 9px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.paddingLeft11 {
    padding-left: 11px;
}

.paddingLeft12 {
    padding-left: 12px;
}

.paddingLeft13 {
    padding-left: 13px;
}

.paddingLeft14 {
    padding-left: 14px;
}

.paddingLeft15 {
    padding-left: 15px;
}

.paddingLeft16 {
    padding-left: 16px;
}

.paddingLeft17 {
    padding-left: 17px;
}

.paddingLeft18 {
    padding-left: 18px;
}

.paddingLeft19 {
    padding-left: 19px;
}

.paddingLeft20 {
    padding-left:20px; 
}
  
.paddingLeft21 {   
    padding-left:21px;   
} 

.paddingLeft22 {   
    padding-left:22px;   
} 

.paddingLeft23 {   
    padding-left:23px;   
} 

.paddingLeft24 {   
    padding-left:24px;   
} 

.paddingLeft25 {   
    padding-left:25px;   
} 

.paddingLeft26 {   
    padding-left:26px;   
} 

.paddingLeft27 {   
    padding-left:27px;   
} 

.paddingLeft28 {   
    padding-left:28px;   
} 

.paddingLeft29 {   
    padding-left:29px;   
} 

.paddingLeft30 {   
    padding-left:30px;   
}

.paddingLeft40 {
    padding-left: 40px;
}

.paddingLeft50 {
    padding-left: 50px;
}

.paddingLeft60 {
    padding-left: 60px;
}

.paddingLeft70 {
    padding-left: 70px;
}

.paddingLeft80 {
    padding-left: 80px;
}

.paddingLeft90 {
    padding-left: 90px;
}

.paddingLeft100 {
    padding-left: 100px;
}

.paddingLeft120 {
    padding-left: 120px;
}

.paddingLeft150 {
    padding-left: 150px;
}

.paddingLeft180 {
    padding-left: 180px;
}

.paddingLeft200 {
    padding-left: 200px;
}

.paddingLeft250 {
    padding-left: 250px;
}