/* INPUTS */

:root {
  --background-primary: #ffffff;            /*Background color of where the class is (bgColor of "shlagUIInput" class for example) */
  --background-secondary: #f0f2f5;          /*Background color of inputs, textarea, fielset, select, slider*/
  --text-normal: #2e3338;                   /*Default text color*/
  --text-muted: #747f8d;                    /*Color of "not focus text"*/

  --input-border-focus: #007bff;            /*Background color of borders of inputs, textarea, fielset, select on focus*/
  --input-border-hover: #0056b3;            /*Background color of borders of inputs, textarea, fielset, select on hover*/
  --label-text-color: #333333;              /*Background color of label*/
  --input-bgcolor-hover: #e9ecef;           /*Background color of inputs, fildset, textarea, select, button on hover*/
  --input-bgcolor-activated: #007bff;       /*Background color of input[type="checkbox"] in .switch class (switch button)*/

  --inputbutton-bgcolor: #007bff;           /*Background color of input[type="button"] and button*/
  --inputbutton-bgcolor-hover: #0056b3;     /*Background color of input[type="button"] and button on hover*/
}


.discordInput {
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --text-normal: #dcddde;
  --text-muted: #72767d;

  --input-border-focus: #4752c4;
  --input-border-hover: #4752c4;
  --label-text-color: #5865f2;
  --input-bgcolor-hover: #40444b;
  --input-bgcolor-activated: #4752c4;

  --inputbutton-bgcolor: #5865f2;
  --inputbutton-bgcolor-hover: #4752c4;
}

.shlagUIInput {
  --background-primary: #ffffff;
  --background-secondary: #f0f2f5;
  --text-normal: #2e3338;
  --text-muted: #747f8d;

  --input-border-focus: #7289da;
  --input-border-hover: #4752c4;
  --label-text-color: #333333;
  --input-bgcolor-hover: #40444b;
  --input-bgcolor-activated: #4CAF50;

  --inputbutton-bgcolor: #7289da;
  --inputbutton-bgcolor-hover: #3ba55c;
}





/*CURSOR*/
:root{
    --cursor-imgauto: url("../upload.svg");
    --cursor-imgdefault: url("../upload.svg");
    --cursor-imgpointer: url("../upload.svg");
    --cursor-imgtext: url("../upload.svg");
    --cursor-imgwait: url("../upload.svg");
    --cursor-imgnotallaowed: url("../upload.svg");
}
