/* Body */
/*header / main / footer*/

.gridAutoBodySmall {
	min-height: 100vh;
    grid-template-rows: 50px auto minmax(30px, min-content); /* Lignes flexibles avec un minimum de 50px */
}

.gridAutoBody {
	min-height: 100vh;
    grid-template-rows: 90px auto minmax(50px, min-content); /* Lignes flexibles avec un minimum de 100px */
}

.gridAutoBodyMedium {
	min-height: 100vh;
    grid-template-rows: 100px 1fr minmax(80px, min-content); /* Lignes flexibles avec un minimum de 200px */
}

.gridAutoBodyLarge {
	min-height: 100vh;
    grid-template-rows: 150px auto minmax(130px, min-content); /* Lignes flexibles avec un minimum de 300px */
}

.gridAutoBodyXLarge {
	min-height: 100vh;
    grid-template-rows: 180px auto minmax(150px, min-content); /* Lignes flexibles avec un minimum de 300px */
}


/* Column */

.gridAutoColumnSmall{
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.gridAutoColumn{
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.gridAutoColumnMedium{
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gridAutoColumnLarge{
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Row */

.gridAutoRowSmall {
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr)); /* Lignes flexibles avec un minimum de 50px */
}

.gridAutoRow {
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)); /* Lignes flexibles avec un minimum de 100px */
}

.gridAutoRowMedium {
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); /* Lignes flexibles avec un minimum de 200px */
}

.gridAutoRowLarge {
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); /* Lignes flexibles avec un minimum de 300px */
}



/* GAP */

.gap1{
	gap: 1px;
}

.gap2{
	gap: 2px;
}

.gap3{
	gap: 3px;
}

.gap4{
	gap: 4px;
}

.gap5{
	gap: 5px;
}

.gap6{
	gap: 6px;
}

.gap7{
	gap: 7px;
}

.gap8{
	gap: 8px;
}

.gap9{
	gap: 9px;
}

.gap10{
	gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap25 {
    gap: 25px;
}

.gap30 {
    gap: 30px;
}